<?xml version="1.0"?>
<model>
  <name>Pegasus 3DR Iris small version</name>
  <version>1.0</version>
  <sdf version='1.6'>pegasus_iris_small.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <name>Pedro Trindade</name>
   <email>pedro.trindade@isr.tecnico.ulisboa.pt</email>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor (small version) by Pedro Trindade. The motor constants have also been modified. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
