<?xml version="1.0"?>
<model>
  <name>Pegasus</name>
  <version>1.0</version>
  <sdf version='1.6'>pegasus.sdf</sdf>

  <author>
   <name>Luís Abrantes</name>
   <email>luis.g.abrantes@tecnico.ulisboa.pt</email>
  </author>

  <description>
    This is athe Pegasus Quadrotor model, originally based on the Iris 3DR Quadrotor. The original Iris 3DR Quadrotor model was created by Thomas 
    Gubler and is maintained by Lorenz Meier.
  </description>
</model>
