<?xml version="1.0" ?>
<model>
    <name>Seixal Track</name>
    <version>1.0</version>
    <sdf version="1.6">seixal_track.sdf</sdf>
    <author>
        <name>Luis Abrantes</name>
        <email>luis.g.abrantes@tecnico.ulisboa.pt</email>
    </author>
    <author>
        <name>Rodrigo Gomes</name>
        <email>rodrigofpgomes@tecnico.ulisboa.pt</email>
    </author>	
    <description>3D model of the Seixal Aircraft Track, Portugal</description>
</model>
